### Data Analysis of Gaana.com

In [2]:
# importing neccessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# dowloading the dataset
!git clone https://github.com/AshishJangra27/Gaana-Data-Analysis

Cloning into 'Gaana-Data-Analysis'...
remote: Enumerating objects: 26, done.
remote: Counting objects: 100% (26/26), done.
remote: Compressing objects: 100% (26/26), done.
remote: Total 26 (delta 8), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (26/26), done.

In [46]:
# dataframe
df = pd.read_csv('Gaana-Data-Analysis/songs.csv')

In [5]:
# header (1st five rows of dataset)
df.head()

,name,singer,singer_id,duration,link,language
0,Dil - E - Nadan Tujhe,Chitra Singh|Jagjit Singh,/artist/chitra-singh|/artist/jagjeet-singh-1,05:00,/dil-e-nadan-tujhe-3,Urdu
1,Agar Hum Kahen Aur Woh Muskara De,Chitra Singh|Jagjit Singh,/artist/chitra-singh|/artist/jagjeet-singh-1,06:26,/agar-hum-kahen-aur-woh-muskura-den,Urdu
2,Unke Dekhe Se,Jagjit Singh,/artist/jagjeet-singh-1,03:41,/unke-dekhe-se,Urdu
3,Yeh Na Thi Hamari Qismat - Chitra Singh,Chitra Singh,/artist/chitra-singh,04:26,/yeh-na-thi-hamari-qismat-2,Urdu
4,Hazaron Khwahishen Aisi,Jagjit Singh,/artist/jagjeet-singh-1,05:39,/hazaron-khwahishen-aisi-1,Urdu

### 1. Checking the NULL values

In [6]:
# sum of the all null values
df.isnull().sum()

name         0
singer       0
singer_id    0
duration     0
link         0
language     0
dtype: int64

### 2. Data Preprocessing

In [7]:
# duration of first 10 songs
for duration in df['duration'][:10]:
  print (duration)

05:00
06:26
03:41
04:26
05:39
07:59
04:48
05:21
03:09
04:24

In [16]:
# minute and second spliting
for duration in df['duration'][:10]:
  print (duration.split(':'))

['05', '00']
['06', '26']
['03', '41']
['04', '26']
['05', '39']
['07', '59']
['04', '48']
['05', '21']
['03', '09']
['04', '24']

In [17]:
# typecasting the string values of time into string
for duration in df['duration'][:10]:

  print('Min',int(duration.split(':')[0]))
  print('Sec',int(duration.split(':')[1]))

Min 5
Sec 0
Min 6
Sec 26
Min 3
Sec 41
Min 4
Sec 26
Min 5
Sec 39
Min 7
Sec 59
Min 4
Sec 48
Min 5
Sec 21
Min 3
Sec 9
Min 4
Sec 24

In [19]:
# converting the whole time in form of seconds
for duration in df['duration'][:10]:

  m=int(duration.split(':')[0])
  s=int(duration.split(':')[1])
  sec=(m*60)+s

  print(m,s,sec)

5 0 300
6 26 386
3 41 221
4 26 266
5 39 339
7 59 479
4 48 288
5 21 321
3 9 189
4 24 264

In [26]:
# applying the change for whole dataset
duration1=[]
for duration in df['duration']:

  m=int(duration.split(':')[0])
  s=int(duration.split(':')[1])
  sec=(m*60)+s
  duration1.append(sec)

df['duration']=duration1
  #print(m,s,sec)

In [27]:
# checking if the duration values are in second or not
print(len(duration1))
print(len(df))
df.head()

41355
41355

,name,singer,singer_id,duration,link,language,03:22
0,Dil - E - Nadan Tujhe,Chitra Singh|Jagjit Singh,/artist/chitra-singh|/artist/jagjeet-singh-1,300,/dil-e-nadan-tujhe-3,Urdu,300
1,Agar Hum Kahen Aur Woh Muskara De,Chitra Singh|Jagjit Singh,/artist/chitra-singh|/artist/jagjeet-singh-1,386,/agar-hum-kahen-aur-woh-muskura-den,Urdu,386
2,Unke Dekhe Se,Jagjit Singh,/artist/jagjeet-singh-1,221,/unke-dekhe-se,Urdu,221
3,Yeh Na Thi Hamari Qismat - Chitra Singh,Chitra Singh,/artist/chitra-singh,266,/yeh-na-thi-hamari-qismat-2,Urdu,266
4,Hazaron Khwahishen Aisi,Jagjit Singh,/artist/jagjeet-singh-1,339,/hazaron-khwahishen-aisi-1,Urdu,339

### 3. Data Analysis

##### 3.1 Average duration of songs throughout dataset ?

---

In [34]:
# average duration of songs i.e sum of total time / length of dataset
print("Average duration of songs :-",int(df['duration'].sum() / len(df)),"seconds")

Average duration of songs :- 295 seconds

##### 3.2   How many languages of songs are present in dataset ?

In [37]:
# set of all unique language song
print(set(df['language']))

# total count  of unique songs
len(set(df['language']))

{'Marathi', 'Kannada', 'Punjabi', 'Malayalam', 'Urdu', 'Gujarati', 'Rajasthani', 'Tamil', 'Haryanvi', 'Bhojpuri', 'Bengali', 'Odia', 'Old', 'Telugu', 'Hindi', 'Assamese'}

16

##### 3.3 How many Hindi Songs are there ?

In [41]:
# traversing through whole language column and counting Hindi songs
count=0
for i in df['language']:
  if(i=="Hindi"):
    count+=1

print("Total count of Hindi songs is :-",count)

Total count of Hindi songs is :- 4993

##### 3.4 Number of songs in each language ?

In [43]:
# for unique languages
for lang in df['language'].unique():
  count=0
  # count for each unique languages 
  for i in df['language']:
    if(i==lang):
      count+=1

  print(lang,":-",count)

Urdu :- 3116
Gujarati :- 2115
Tamil :- 4677
Kannada :- 3559
Rajasthani :- 541
Haryanvi :- 228
Punjabi :- 3818
Hindi :- 4993
Old :- 4993
Malayalam :- 479
Marathi :- 4699
Telugu :- 4996
Odia :- 940
Bhojpuri :- 519
Assamese :- 724
Bengali :- 958

##### 3.5 Average duration of songs in each language ?

In [45]:
# for unique languages
for lang in df['language'].unique():
  #printing the mean time in seconds
  print(lang,":-",int(df[df['language']==lang]['duration'].mean()))

Urdu :- 407
Gujarati :- 271
Tamil :- 270
Kannada :- 250
Rajasthani :- 291
Haryanvi :- 320
Punjabi :- 324
Hindi :- 307
Old :- 307
Malayalam :- 242
Marathi :- 281
Telugu :- 279
Odia :- 257
Bhojpuri :- 357
Assamese :- 228
Bengali :- 255